*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    display:flex;
    justify-content: center;
    align-items: center;
    background:#197278;
    min-height: 100vh;
}

body::before{
    content: '';
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height: 100%;
    background: linear-gradient(#c44536,#772e25 );
    clip-path: circle(40% at left 70%);
}
body::after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: linear-gradient(#edddd4,#c44536 );
    clip-path: circle(30% at right 10%);
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index:1;
}

.card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255, 255, 0.5);
    border-left: 1px solid rgba(255,255, 255, 0.5);
    height: 400px;
    width:280px;
    border-radius:15px;
    backdrop-filter:blur(5px) ;
    background:rgba(255,255, 255, 0.1);
    overflow: hidden;
    box-shadow:20px 20px 50px rgba(0, 0, 0, 0.5);
    margin:30px;
}

.card:hover .content{
    transform: translateY(0px);
    opacity:1;
}
.content{
    text-align: center;
    padding:20px;
    color: white;
    transition: 0.5s;
    transform: translateY(100px);
    opacity: 0;

}

h1{
    position: absolute;
    top: -80px;
    left:30%;
    font-size: 8em;
    color:rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

h2{
 font-size: 1.8em;
 color: #fff;
 z-index:1;
}

p{
    font-size: 1em;
    color:#fff;
    font-weight: 300px;
}

a{
    position: relative;
    background-color: #fff;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 15px;
    font-weight: 500;
    display: inline-block;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
